* {
    margin: 0;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
}

.background {
    display: flex;
    align-items: center;
    position: relative;
}

.imageBackground {
    width: 100%;
    height: 100vh;
}
label {
    display: flex;
    
}
.imageCard {
    position: relative;
}

.circleConfirm {
    border-radius: 90px;
    padding: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,14,72,1) 11%, rgba(60,27,108,1) 71%, rgba(112,50,171,1) 100%, rgba(0,212,255,1) 100%);
}


input {
    height: 40px;
    width: 330px;
    border-radius: 10px ;
    border: solid 1px #ceeaff;
}

input:focus {
    border-color: red;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;

}

.inputDate {
    height: 40px;
    width: 100px;
}

.appGrid {
    display: grid;
    grid-template-columns: 40% 60%;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px;
    background: #350669;
    color: white;
    height: 60px;
    width: 300px;
}

.frontCard, .backCard {
    position: absolute;

}

.imageCard {
    height: 245px;
    width: 447px;
}
.cvg {
position: absolute;
right: 50px;

}


.frontCard {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.backCard {
    left: 90%;
    top: 35%;
    transform: translate(-50%, -50%);

}

.containerCardFront {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    width: 447px;
    height: 245px;
}

.containerCardBack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;
    width: 447px;
}

@media only screen and (max-width: 1220px)  {
    .frontCard  {
        top: 65%;
        left: 50%;

    }

    .imageBackground {
        height: 600px;
    }

    .backCard {
        left: 60%;
        top: 40%;
    }

    .appGrid {
        display: block;
    }
}



/*@media only screen and (max-width: 790px) {*/

/*    .frontCard  {*/

/*        left: 10%;*/
/*        top: 190px;*/

/*    }*/

/*    .backCard {*/
/*        left: 20%;*/
/*        top: 50px;*/
/*    }*/

/*}*/
@media only screen and (max-width: 600px) {

    .frontCard {
        left: 50%;
        top: 70%;

    }
    .imageCard, .containerCardFront, .containerCardBack {
        width: 380px;
    }

    .backCard {
        left: 50%;
        top: 45%;
    }

    .cvg {
        right: 75px;
    }
}

